@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200&family=Ubuntu:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200&display=swap');

body {
    background-color: antiquewhite;
    margin: 0;
}

* {
    font-family: 'Times New Roman', Times, serif;
    /* outline: green 2px solid; */
    margin: 0%;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0%;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 60px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0 12px;
}

.brand img {
    width: 45px;
    padding: 0 20px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container {
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    margin: 20px auto;
    width: 90%;
    border-radius: 20px;
    background-image: url('banner.jpg');
    /* background-repeat: no-repeat; */
}

.bottom {
    position: sticky;
    background-color: black;
    color: white;
    height: 120px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.icons {
    margin-top: 20px;
}

.icons i {
    cursor: pointer;
}

#MyprogressBar {
    width: 80vw;
    cursor: pointer;
}

.songitem {
    display: flex;
    height: 54px;
    width: 310px;
    background-color: white;
    color: black;
    margin: 12px 0;
    align-items: center;
    border-radius: 33px;
}

.songitem img {
    width: 53px;
    margin: 0 10px;
    border-radius: 34%;
}

.songlist {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timestamp {
    margin: 0 23px;
}

.timestamp i {
    cursor: pointer;
}

.songinfo {
    position: absolute;
    left: 9vw;
    display: flex;
    width: 200px;
}

.songtext {
    position: absolute;
    top: 50px;
}

.songinfo img {
    opacity: 0;
    transition: opacity is ease-in;
}

/* implement the class .overlay from html */
.songitem:hover .songinfo img {
    opacity: 1;
}

.songinfo h1 {
    font-size: 1.2rem;
    font-weight: 500;
}

.songinfo p {
    font-size: 0.9rem;
    font-weight: 300;
}

#progressBar {
    width: 80vw;
    cursor: pointer;
}

#progressBar::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 20px;
}

#progressBar::-webkit-progress-value {
    background-color: #ff4500;
    border-radius: 20px;
}

#progressBar::-moz-progress-bar {
    background-color: #ff4500;
    border-radius: 20px;
}

.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    background: #fff;
    width: 500px;
    height: 300px;
    z-index: 2;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    display: none;
}

.songlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
}